# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

RPC360.sdf

RPC360.opensdf

RPC360.suo

RPC360/CodeAnalysis/

RPC360/Debug/

RPC360/Release/

build/

ipch/

config.json
